Package: calaos-container-dbgsym
Source: calaos-container (1.0-0)
Version: 1.0.0-0~bookworm0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Calaos Team <team@calaos.fr>
Installed-Size: 9230
Depends: calaos-container (= 1.0.0-0~bookworm0)
Section: debug
Priority: optional
Description: debug symbols for calaos-container
Build-Ids: 9a106f7c45341688341edd85237782c9196f7ac6
