
[Unit]
Description=Calaos Boot Service
Before=basic.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/config_calaos-boot

StandardOutput=tty
TTYPath=/dev/tty2

TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
RemainAfterExit=yes

ExecStartPre=/bin/chvt 2

[Install]
WantedBy=basic.target
