[Unit]
Description=Calaos-OS container daemon
After=network.target
Before=olad.service

[Service]
Type=simple
ExecStartPre=/usr/sbin/init_calaosfs
ExecStart=/usr/bin/calaos-container
Restart=always

[Install]
WantedBy=multi-user.target
