
[Unit]
Description=Calaos Boot Service
After=getty.target
Requires=getty.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/config_calaos-boot

StandardOutput=tty
TTYPath=/dev/tty2

TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
RemainAfterExit=yes

ExecStartPre=/bin/chvt 2

[Install]
WantedBy=multi-user.target
