Source: calaos-container
Maintainer: Calaos Team <team@calaos.fr>
Build-Depends: debhelper (>= 11),
               pkgconf, golang,
               libbtrfs-dev, libdevmapper-dev, libgpgme-dev, libglib2.0-dev, libapt-pkg-dev, meson

Package: calaos-container
Architecture: any
Description: Calaos-OS container service
Depends: ${misc:Depends}, ${shlibs:Depends},
         bash, podman, openssl, coreutils, util-linux, gawk, bash,
         btrfs-progs, parted, dosfstools, snapper, mount, rsync,
         sed, inotify-tools, curl, ifupdown2, snapper, jq,
         calaos-ddns